@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}


html {
  scroll-behavior: smooth;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradient-x 15s ease infinite;
}
